<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--LUCENE索引文件保存的根目录路径-->
    <add key="LUCENE_TEXT_INDEX_FILE_DIRECTORY" value="E:\Work\Projects\Career\Career.API\LUCENE_FILES\" />
    <add key="MainDbConnectionString" value="Server=192.168.1.168;Database=CareerMain;Uid=;Pwd=;" />
  </appSettings>
  </configuration>